<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->

    </head>
    <body>

        <div class="container">

          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">latest</a>
              <a class="extra" href="/homework.html">homework</a>
              <a class="extra" href="/recaps.html">recaps</a>
              <a class="extra" href="/quizzes.html">quizzes</a>
              <a class="extra" href="/random.html">random</a>
            </div>

            {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Chris Burnett<br />
                  Polish Language Instruction<br />
                  dameramu@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="https://www.facebook.com/groups/learnpolishaberdeen/">Learn Polish! Facebook Group</a><br />
                  <a href="http://www.aberdeen.edu.pl">Stanisław Kostka Polish School</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
